<div>
  <ng-container
  *ngIf="
    Produto.Status === enumStatusProduto.promocao;
    then preco_promo;
    else preco_normal
  "
>
</ng-container>
<ng-template #preco_promo>
  <div class="">
    <p class="linethr"><span class="is-size-7 preto6">de</span> R$ {{ Produto?.Preco.toFixed(2) || '0.00' }}<span class="is-size-7 preto6"> Por</span> </p>
    <p class="preco fs-18 promocao ">
      R$ {{ Produto?.PrecoPromocional.toFixed(2) || '0.00' }}
    </p>
  </div>
</ng-template>

<ng-template #preco_normal>
  <div class="w-full">
    <p class="preco fs-18"><span class="is-size-7 preto6"></span>R$ {{ Produto?.Preco.toFixed(2) || '0.00' }}</p>
  </div>
</ng-template>
</div>
