<ng-template>
  <codeby-card
    matRipple
    class="portfolio-item zoom"
    customClass="card py-0 of-y-hidden of-x-hidden"
  >

  <figure
    class="image is-64x64 img-orcamento"
  >
    <img src="{{ (Produto?.Imagem)[0] }}" alt="" />
  </figure>

    <div class="card-content">
      <div class="--inner">
        <div class="product-info">
          <p class="product-name">
            {{Produto.Nome}}
          </p>
        </div>
      </div>
    </div>

    <div class="product-card-footer">
      <div class="m82tat-1 tOXvs">
        <p
          class="product-price-sm"
        >
          R$&nbsp;{{ Produto.Preco }}
        </p>
      </div>
    </div>


  </codeby-card>

</ng-template>
