<ng-container
  *ngIf="(Orcamento$ | async)?.Produto.length > 0; then pedido; else vazio"
></ng-container>
<ng-template #vazio>
  <div class="margin a-i-c flex-m m-lr-auto has-text-center w-full">
    <figure class="image has-ratio">
      <img src="/assets/images/figures/undraw_empty_cart_co35.svg" />
    </figure>
    <div class="">
      <h1 class="subtitle mb-0 pt-0">Seu carrinho está vazio</h1>
    </div>
  </div>
</ng-template>
<ng-template #pedido>
  <section @fadeIn>

    <div class="a-i-c columns">
      <div class="column is-12-desktop is-12-touch">
        <div class="w-full  of-x-hidden">
          <codeby-tabela-edicao-orcamento *ngIf="exibirTabela"
            [edit]="edit"
          ></codeby-tabela-edicao-orcamento>
        </div>
      </div>

      <!-- <div class="column is-12-touch">
        <codeby-caixa-codigo-promocional
          [CodigoPromocional]='Orcamento.CupomDesconto'
        ></codeby-caixa-codigo-promocional>
      </div> -->
    </div>

    <div>
      <!-- if total is greater than 10, show free shipping -->
      <div class="">
        <div class="section">
          <ul class="columns flex-sb">
            <li>
              <h1 class="title is-5">Total:</h1>
            </li>
            <li><p class="title is-5">R$ {{(Orcamento$ | async)?.Preco?.toFixed(2)}}</p></li>
          </ul>
        </div>
        <ng-container *ngIf="(Orcamento$ | async)?.Preco > 10">
          <!-- success message -->
          <div class="w-full flex-c-m">
            <h1 @fadeIn class="title is-6 tag is-rounded is-success">
              Parabéns, sua compra tem frete grátis !
            </h1>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</ng-template>
