<div class="checkout-background pos-fixed"></div>
<section class="section mh-full">
  <div class="section w-full m-lr-auto has-text-center d-flex flex-c">
    <h1 class="cart-title title is-3">Meu carrinho</h1>
  </div>
  <div class="container">
    <a class="logo block" routerLink="/"></a>

    <div>
      <codeby-confirmacao></codeby-confirmacao>
    </div>
    <div
      @slideInOut
      class="section w-full pos-relative au am de ft iv cs ct iw cw cz fn bf d3 d4 d5 d6"
    >
      <div class="columns w-full">
        <div class="column">
          <div class="">
            <div class="mb-2">
              <a
                pageScroll
                href="#pagamento1"
                mat-flat-button
                class="button is-info w-full is-uppercase"
                (click)="FinalizarCompra()"
                [disabled]="!this.checkoutService.getValid()"
              >
                Finalizar Compra
              </a>
            </div>
          </div>
          <!-- <div class="box px-3 py-3 w-full z-index-2">
            <div class="" id="pagamento1">
              <div class="w-full of-x-scroll">

              </div>
            </div>

            <mat-toolbar class="dis-flex flex-sb py-6 of-y-hidden">
              <a class="is-size-7">aviso legal</a>
              <span class="spacer"></span>
              <figure class="image px-4 is-64x64">
                <img
                  src="assets/images/icons/bandeira-dos-cartoes-de-credito.png"
                />
              </figure>
            </mat-toolbar>
          </div> -->
        </div>
      </div>

      <ng-container *ngIf="!checkoutService.getValid()">
        <div class="section d-flex flex-m">
          <div class="columns is-vcentered" @fadeIn>
            <div class="column has-text-centered">
              <figure class="image is-128x128" @fadeIn>
                <img src="/assets/images/figures/undraw_cancel_u1it.svg" />
                <span class="tag is-danger"> Há algo de errado com a sua compra! </span>
              </figure>
              <!-- show error in cart -->
              <div class="has-text-centered">
                <h1 class="title is-3">
                </h1>
              </div>
            </div>
            <div class="column">
              <mat-list class="px-2 mx-2" @fadeIn>
                <mat-list-item
                  class="pb-2 box"
                  @fadeIn
                  *ngFor="let erro of checkoutService.getErros()"
                >
                  <p class="subtitle is-size-6 has-text-danger mb-0">
                    <mat-icon>error</mat-icon> {{ erro }}
                  </p>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="checkoutService.getValid()">
        <div
          class="section columns pos-sticky top-0 z-index-1 bellow-nav"
          @fadeIn
        >
          <div class="column">
            <mat-list class="px-2 mx-2" @fadeIn>
              <mat-list-item class="box" @fadeIn>
                <p class="subtitle is-size-6 has-text-success">
                  <mat-icon>check</mat-icon> Seu pedido está valido!
                </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
